fixture/src/main/java/au/com/scds/agric/fixture/xml/AgricProducerSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AgricProducerSchema" xmlns:tns="http://www.example.org/AgricProducerSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" elementFormDefault="qualified" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:globalBindings>
				<jaxb:javaType name="java.util.Date" xmlType="dateTime" parseMethod="au.com.scds.agric.fixture.xml.DataTypeAdapter.parseDateTime" printMethod="au.com.scds.agric.fixture.xml.DataTypeAdapter.printDateTime" />
				<jaxb:javaType name="java.util.Date" xmlType="date" parseMethod="au.com.scds.agric.fixture.xml.DataTypeAdapter.parseDate" printMethod="au.com.scds.agric.fixture.xml.DataTypeAdapter.printDate" />
			</jaxb:globalBindings>
		</appinfo>
	</annotation>
	<complexType name="Party">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Client">
		<complexContent>
			<extension base="tns:Party">
				<sequence>
					<element name="order" type="tns:Order" minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Producer">
		<annotation>
			<documentation>The organisation or individual producing product (as
				Product Lines).
			</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="product-line" type="tns:ProductLine" minOccurs="1" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="IngredientSupplier">
		<complexContent>
			<extension base="tns:Party"></extension>
		</complexContent>
	</complexType>

	<complexType name="Order">
		<sequence>
			<element name="taken" type="dateTime" minOccurs="0" maxOccurs="1">
			</element>
			<element name="taken-by" type="tns:Person" minOccurs="0" maxOccurs="1">
			</element>
			<element name="order-line" type="tns:OrderLine" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="scheduled-order-line" type="tns:ScheduledOrderLine" minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="completed-order-line" type="tns:CompletedOrderLine" minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="ScheduledOrderLine">
		<annotation>
			<documentation>An Order Line that has been scheduled for filling as
				part of a specific Batch
			</documentation>
		</annotation>
		<sequence>
			<element name="order-line" type="tns:OrderLine" minOccurs="1" maxOccurs="1"></element>
			<element name="scheduled-on" type="dateTime" maxOccurs="1" minOccurs="0"></element>
			<element name="scheduled-by" type="tns:Person" maxOccurs="1" minOccurs="0"></element>
			<element name="orderline-batch-portion" type="tns:OrderLineBatch" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="CompletedOrderLine">
		<sequence>
			<element name="order-line" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="completed" type="dateTime" maxOccurs="1" minOccurs="0"></element>
			<element name="completed-by" type="tns:Person" maxOccurs="1" minOccurs="0"></element>
			<element name="product-pack" type="tns:ProductPack" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="PurchaseOrder">
		<sequence>
			<element name="supply" type="tns:IngredientSupply" minOccurs="1" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="ProductLine">
		<annotation>
			<documentation>A product (line) sold to customers.</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1">
			</element>
			<element name="product-type" type="tns:ProductType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="Formulation">
		<annotation>
			<documentation>A Formulation is essentially a set of ingredients
				(FormulationComponent) and a method that is followed to create
				Batches of Product
			</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1">
			</element>
			<element name="description" type="string" maxOccurs="1" minOccurs="1">
			</element>
			<element name="method" type="tns:FormulationMethod" maxOccurs="1" minOccurs="1"></element>
			<element name="component" type="tns:FormulationComponent" maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="OrderLine">
		<sequence>
			<element name="product-line" type="tns:ProductLine" maxOccurs="1" minOccurs="1"></element>
			<element name="added-on" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="added-by" type="tns:Person" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ProductPack">
		<sequence>
			<element name="product-line" type="tns:ProductLine" maxOccurs="1" minOccurs="1"></element>
			<element name="product-item" type="tns:ProductItem" minOccurs="1" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="Consumer">
		<complexContent>
			<extension base="tns:Party"></extension>
		</complexContent>
	</complexType>

	<complexType name="ProductItem">
		<annotation>
			<documentation>The basic unit in which form a Product is sold to the
				final retail consumers as (container,package).
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Sampled">
				<sequence>
					<element name="serial-number" type="string" maxOccurs="1" minOccurs="1"></element>
					<element name="product-line" type="tns:ProductLine" maxOccurs="1" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Batch">
		<annotation>
			<documentation>A batch of product, efficiently created in bulk for
				subdivision into product-item lots.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Sampled">
				<sequence>
					<element name="created-on" type="dateTime" minOccurs="1" maxOccurs="1"></element>
					<element name="created-by" type="tns:Person" minOccurs="1" maxOccurs="1"></element>
					<element name="scheduled-for" type="dateTime" minOccurs="0" maxOccurs="1"></element>
					<element name="completed-on" type="dateTime" minOccurs="0" maxOccurs="1"></element>
					<element name="completed-by" type="tns:Person" minOccurs="0" maxOccurs="1"></element>
					<element name="specification" type="tns:Specification" minOccurs="0" maxOccurs="1"></element>
					<element name="batch-component" type="tns:BatchComponent" maxOccurs="unbounded" minOccurs="0"></element>
					<element name="orderline-portion" type="tns:OrderLineBatch" maxOccurs="unbounded" minOccurs="0"></element>
					<element name="product-item" type="tns:ProductItem" minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Person">
		<annotation>
			<documentation>A Person working in the Producer organisation.
			</documentation>
		</annotation>
		<sequence>
			<element name="first-name" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="last-name" type="string" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="BatchComponent">
		<annotation>
			<documentation>A component of a Batch taken from a larger Supply
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Sampled">
				<sequence>
					<element name="ingredient" type="tns:Ingredient" minOccurs="1" maxOccurs="1">
					</element>
					<element name="quantity" type="float" maxOccurs="1" minOccurs="1">
					</element>
					<element name="unit" type="tns:SiUnit" maxOccurs="1" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IngredientSupply">
		<annotation>
			<documentation>A specific supply (or batch) of an Ingredient consumed
				in the production of Batches of Product for sale.
				Possibly purchased
				from a supplier and produced by another manufacturer.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Sampled">
				<sequence>
					<element name="manufacturer" type="tns:IngredientManufacturer" maxOccurs="1" minOccurs="0"></element>
					<element name="supplier" type="tns:IngredientSupplier" maxOccurs="1" minOccurs="0"></element>
					<element name="quantity-initial" type="float" minOccurs="1"></element>
					<element name="quantity-remaining" type="float" maxOccurs="1" minOccurs="1"></element>
					<element name="unit" type="tns:SiUnit" maxOccurs="1" minOccurs="1"></element>
				</sequence>

			</extension>
		</complexContent>
	</complexType>

	<complexType name="Ingredient">
		<annotation>
			<documentation>A well defined material use in the manufactur of
				Batches of Product.
			</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1">
			</element>
			<element name="description" type="string" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						A well defined thing used in the production of
						Batches of Product. Formulation Components and
						(hence Batch
						Components) will conform to an
						Ingredient specification.
					</documentation>
				</annotation>
			</element>
			<element name="supply" type="tns:IngredientSupply" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="Sample">
		<annotation>
			<documentation>A sample of a sampled item (product, batch, ingredient
				etc.) taken for testing.
			</documentation>
		</annotation>
		<sequence>
			<element name="sampled" type="tns:Sampled" maxOccurs="1" minOccurs="1">
			</element>
			<element name="test" type="tns:TestSingle" maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="test-group" type="tns:TestGroup" maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="test-suite" type="tns:TestSuite" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="TestSuite">
		<annotation>
			<documentation>
				A suite (set) of tests and/or test-groups that can be
				applied to a Sample, usually of a specific type of
				Sampled
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Test">
				<sequence>
					<element name="test" type="tns:TestSingle" maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="test-group" type="tns:TestGroup" maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="Test">
		<annotation>
			<documentation>A specific test to perform on a Sample</documentation>
		</annotation>
		<sequence>
			<element name="test-name" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="Result">
		<sequence>
			<element name="test-result" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Sampled">
		<annotation>
			<documentation>A food product, batch, ingredient etc that is sampled for the purpose of
				quality assurance or food safety testing.
			</documentation>
		</annotation>
		<sequence>
		</sequence>
	</complexType>

	<complexType name="Delivery">
		<sequence>
			<element name="date" type="dateTime"></element>
		</sequence>
	</complexType>

	<complexType name="TestGroup">
		<annotation>
			<documentation>A logical grouping of Tests and/or Test-Groups to perform on a Sample</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Test">
				<sequence>
					<element name="test" type="tns:TestSingle" minOccurs="0" maxOccurs="unbounded">
					</element>
					<element name="test-group" type="tns:TestGroup" maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="clients">
		<complexType>
			<sequence>
				<element name="client" type="tns:Client" minOccurs="1" maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>


	<element name="producer" type="tns:Producer"></element>



	<complexType name="IngredientManufacturer">
		<annotation>
			<documentation>An entity producing Ingredient.</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:Party"></extension>
		</complexContent>
	</complexType>

	<complexType name="ProductType">
		<annotation>
			<documentation>A category of Product Lines produced by the Producer.
			</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="FormulationComponent">
		<sequence>
			<element name="ingredient" type="tns:Ingredient" maxOccurs="1" minOccurs="1">
			</element>
			<element name="quantity" type="float" maxOccurs="1" minOccurs="1"></element>
			<element name="unit" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="FormulationMethod">
		<annotation>
			<documentation>
				A method of creating a Batch (of Product) associated
				with one or more Formulations
			</documentation>
		</annotation>
		<sequence>
			<element name="description" type="string" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						A description of the Formulation Method, or the
						actual method (if not using defined steps)
					</documentation>
				</annotation>
			</element>
			<element name="step" type="tns:FormulationStep" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="FormulationStep">
		<sequence>
			<element name="description" type="string"></element>
			<element name="order" type="int">
				<annotation>
					<documentation>An ordered step in a specific Formulation Method.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SiUnit">
		<annotation>
			<documentation>SI Unit</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="TestSingle">
		<complexContent>
			<extension base="tns:Test">
				<sequence>
					<element name="result" type="tns:Result" maxOccurs="1" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="samples">
		<complexType>
			<sequence>
				<element name="sample" type="tns:Sample" maxOccurs="unbounded" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>


	<complexType name="Specification">
		<sequence>
			<element name="name" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="SaleLine">
		<sequence>
			<element name="product-pack" type="tns:ProductPack" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="Sale">
		<sequence>
			<element name="line" type="tns:SaleLine" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="invoice" type="tns:Invoice" minOccurs="0" maxOccurs="1"></element>
			<element name="receipt" type="tns:Receipt" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Invoice"></complexType>

	<complexType name="Receipt"></complexType>


	<element name="formulations">
		<complexType>
			<sequence>
				<element name="formulation" type="tns:Formulation" minOccurs="0" maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>

	<element name="batches">
		<complexType>
			<sequence>
				<element name="batch" type="tns:Batch" minOccurs="0" maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>

	<element name="sales">
		<complexType>
			<sequence>
				<element name="sale" type="tns:Sale" minOccurs="0" maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>

	<complexType name="OrderLineBatch">
		<sequence>
			<element name="orderline" type="tns:ScheduledOrderLine" maxOccurs="1" minOccurs="0"></element>
			<element name="batch" type="tns:Batch" minOccurs="0" maxOccurs="1"></element>
			<element name="percentage-of-batch" type="float" maxOccurs="1" minOccurs="1"></element>
		</sequence>

	</complexType>
</schema>